.masonry {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-template-rows: masonry;
    gap: var(--pico-spacing);

    &__item {


        &--large {
            grid-column: span 2;
            grid-row: span 2;
        }
    }
}
